# init file checksum: {{ vault_envoy_init_template.checksum }}
# config file checksum: {{ vault_envoy_config_template.checksum }}

check process {{ vault_envoy_monit_service_name }} with pidfile {{ vault_envoy_pid_path }}
  start program = "{{ vault_envoy_monit_init_path }} start"
  stop program = "{{ vault_envoy_monit_init_path }} stop"
  if not exist then restart
  depends on {{ nebula_monit_service_name }}
