(acl) {
  acl {
    allow net {{ coredns_acl_allow | join(" ") }}
    block
  }
}

. {
  forward . tls://1.1.1.1 tls://1.0.0.1 {
    tls_servername cloudflare-dns.com
    health_check 60s
  }
  cache
  errors
  import acl
}

consul {
  forward . 127.0.0.1:8600
  errors
  import acl
}

{{ coredns_zones | join(' ') }} {
  auto {
    directory /etc/coredns.d/zones/
    reload 30s
  }
  errors
  import acl
}
