(acl) {
  acl {
    allow net {{ coredns_acl_allow | join(" ") }}
    block
  }
}

. {
  forward . tls://1.1.1.1 tls://1.0.0.1 {
    tls_servername cloudflare-dns.com
    health_check 60s
  }
  cache
  errors
  import acl
}

ts.net {
  forward . 100.100.100.100
  errors
  import acl
}

consul {
  forward . 127.0.0.1:8600
  errors
  import acl
}

internal {
	file /etc/coredns.d/internal.zone
	errors
	import acl
}
