@ IN SOA ns.internal. hostmaster.internal. {{ '%Y%m%d01' | strftime }} 3600 600 86400 0
     NS  ns.internal.

$ORIGIN internal.

{% set max_hostname_length = hostvars | map('length') | max %}
{% for host, vars in hostvars.items() %}
{{ host }}{{ ' ' * (max_hostname_length - (host | length)) }} IN A {{ vars.nebula_ip | ansible.utils.ipaddr('address') }}
{% endfor %}
