---
- name: Create Nebula install directory
  ansible.builtin.file:
    path: "{{ nebula_install_dir }}"
    mode: "0755"
    state: directory
    owner: root
    group: root

- name: Extract Nebula archive
  ansible.builtin.unarchive:
    src: "{{ nebula_install_archive }}"
    dest: "{{ nebula_install_dir }}"
    mode: "0755"
    owner: root
    group: root
    include: "{{ nebula_install_extract_include }}"
    extra_opts: "{{ nebula_install_extract_options }}"
