---
- name: Download Nebula
  tags: [download, packer]
  ansible.builtin.include_tasks:
    file: download.yml
    apply:
      tags: [download, packer]
      become: false
      run_once: true
      delegate_to: localhost

- name: Install Nebula
  tags: [install, packer]
  ansible.builtin.include_tasks:
    file: install.yml
    apply:
      tags: [install, packer]

- name: Generate Nebula certificates
  tags: cert
  ansible.builtin.include_tasks:
    file: cert.yml
    apply:
      tags: cert

- name: Configure Nebula
  tags: config
  ansible.builtin.include_tasks:
    file: config.yml
    apply:
      tags: config
