# --- IDE / Editor ---
.idea/
.vscode/

# --- Packer ---
packer/outputs/

# --- Vagrant ---
# Machine states
.vagrant/

# Mounts
.mounts/

# --- Python ---
.venv/
__pycache__/

# --- Ansible ---
# Configuration
.ansible/
inventories/

# Downloaded files
ansible/roles/*/files/*/download/

# Secrets
ansible/roles/*/files/*/cert/
ansible/roles/*/files/*/init/

# --- Terraform ---
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

