# IDE
.idea/
.vscode/

# Python
.venv/
__pycache__/

# Ansible
.ansible/
inventories/

# Packer
infrastructure/packer/outputs/

# Cache
infrastructure/ansible/roles/*/files/*/download/

# Secrets
infrastructure/ansible/roles/*/files/*/certificate/

# Vagrant
.vagrant/
