# --- IDE / Editor ---
# JetBrains
.idea/
*.iml

# VSCode
.vscode/

# --- Python ---
# Environment
.venv/

# --- Ansible ---
# Configs
inventories/

# Artifacts
artifacts/

# Cache
cache/

# --- Zensical ---
# Build
docs/build/

# Cache
.cache/
