---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-config
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/infrastructure/configs/cert-manager/config
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
