---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: x-ui
  namespace: flux-system
spec:
  patches:
    - target:
        group: helm.toolkit.fluxcd.io
        kind: HelmRelease
        name: x-ui
      # language="yaml"
      patch: |-
        - op: add
          path: /spec/values/defaultPodOptions
          value:
            nodeSelector:
              net.kasefuchs.homelab/region: cis
              net.kasefuchs.homelab/placement: cloud
        - op: add
          path: /spec/values/service/main/ports/vless
          value:
            enabled: true
            port: 8443
        - op: add
          path: /spec/values/ingress
          value:
            main:
              enabled: true
              className: traefik
              annotations:
                cert-manager.io/cluster-issuer: letsencrypt
                external-dns.alpha.kubernetes.io/target: 85.208.85.159
              hosts:
                - host: xui.kasefuchs.net
                  paths:
                    - path: /
                      pathType: Prefix
                      service:
                        identifier: main
                        port: panel
                    - path: /sub/
                      pathType: Prefix
                      service:
                        identifier: main
                        port: subscription
              tls:
                - hosts:
                    - xui.kasefuchs.net
                  secretName: x-ui-tls
        - op: add
          path: /spec/values/rawResources
          value:
            vless-route:
              enabled: true
              apiVersion: traefik.io/v1alpha1
              kind: IngressRouteTCP
              spec:
                spec:
                  entryPoints:
                    - websecure
                  routes:
                    - services:
                        - name: x-ui
                          port: vless
                  tls:
                    passthrough: true
        - op: add
          path: /spec/valuesFrom
          value:
            - kind: Secret
              name: x-ui-secret
              valuesKey: vless_route_match
              targetPath: rawResources.vless-route.spec.spec.routes[0].match
