node_name  = "{{ consul_agent_node_name }}"
datacenter = "{{ consul_agent_datacenter }}"

encrypt = "{{ consul_agent_encrypt }}"

data_dir    = "{{ consul_agent_data_dir }}"
bind_addr   = "{{ consul_agent_bind_address }}"
client_addr = "{{ consul_agent_client_addresses | join(' ') }}"

server           = {{ consul_agent_server | lower }}
retry_join       = {{ consul_agent_join_peers | ansible.builtin.to_json }}
bootstrap_expect = {{ consul_agent_bootstrap_expect if consul_agent_server else 0 }}

acl {
  enabled                  = true
  default_policy           = "{{ consul_agent_acl_default_policy }}"
  enable_token_persistence = true
}

ui_config {
  enabled = true
}

tls {
  defaults {
    ca_file   = "{{ (consul_pki_dir, 'ca.crt') | ansible.builtin.path_join }}"
    key_file  = "{{ (consul_pki_dir, 'agent.key') | ansible.builtin.path_join }}"
    cert_file = "{{ (consul_pki_dir, 'agent.crt') | ansible.builtin.path_join }}"
  }
}

ports {
  http = -1
  grpc = -1

  dns      = {{ consul_agent_dns_port }}
  https    = {{ consul_agent_https_port }}
  grpc_tls = {{ consul_agent_grpc_tls_port }}
}

addresses {
  dns      = "{{ consul_agent_dns_addresses | join(' ') }}"
  https    = "{{ consul_agent_https_addresses | join(' ') }}"
  grpc_tls = "{{ consul_agent_grpc_tls_addresses | join(' ') }}"
}
