---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: x-ui
spec:
  interval: 1h
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      main:
        enabled: true
        type: statefulset
        replicas: 1
        containers:
          main:
            image:
              repository: ghcr.io/mhsanaei/3x-ui
              tag: latest
              pullPolicy: IfNotPresent
            ports:
              - name: panel
                protocol: TCP
                containerPort: 2053
              - name: subscription
                protocol: TCP
                containerPort: 2096
    persistence:
      database:
        enabled: true
        type: persistentVolumeClaim
        size: 1Gi
        accessMode: ReadWriteOnce
        storageClass: longhorn-local
        advancedMounts:
          main:
            main:
              - path: /etc/x-ui/
    service:
      main:
        enabled: true
        controller: main
        type: LoadBalancer
        ports:
          panel:
            enabled: true
            port: 2053
          subscription:
            enabled: true
            port: 2096
