---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/infrastructure
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: repositories
  patches:
    - target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
        name: cert-manager-config
      patch: |-
        - op: add
          path: /spec/patches
          value:
            - target:
                group: cert-manager.io
                kind: ClusterIssuer
                name: letsencrypt
              patch: |-
                - op: replace
                  path: /spec/acme/server
                  value: https://acme-v02.api.letsencrypt.org/directory
