# Store options
[etcd]
enabled = true
timeout = "3s"
servers = "127.0.0.1:2378"
key_prefix = "seaweedfs."
tls_ca_file="/etc/etcd/certificates/ca.pem"
tls_client_key_file="/etc/etcd/certificates/cli.key"
tls_client_crt_file="/etc/etcd/certificates/cli.pem"
