[Unit]
Description="SeaweedFS - %I"
Documentation="https://github.com/seaweedfs/seaweedfs"
BindsTo=nebula.service

[Service]
User=seaweedfs
Group=seaweedfs

Type=simple
ExecStart=/usr/local/bin/weed %i -options /etc/seaweedfs/%i.cli
ExecStop=/bin/kill -s SIGINT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
