{%- macro service_basic(name, type) -%}
  id   = "seaweedfs-{{ name }}-{{ type }}"
  name = "seaweedfs-{{ name }}"
  tags = ["{{ type }}"]
{%- endmacro -%}

{%- macro service_address(port) -%}
  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port    = {{ port }}
{%- endmacro -%}

{%- macro service_tcp_check(name, type, port) -%}
  check = {
    id       = "seaweedfs-{{ name }}-{{ type }}-check"
    name     = "{{ name }} {{ type }} tcp check"
    tcp      = "{{ nebula_ip | ansible.utils.ipaddr('address') }}:{{ port }}"
    timeout  = "1s"
    interval = "10s"
  }
{%- endmacro -%}

{%- if seaweedfs_master %}
services {
  {{ service_basic("master", "http") }}
  {{ service_address(9333) }}
  {{ service_tcp_check("master", "http", 9333) }}
}
services {
  {{ service_basic("master", "grpc") }}
  {{ service_address(19333) }}
  {{ service_tcp_check("master", "grpc", 19333) }}
}
{% endif %}

{%- if seaweedfs_volume %}
services {
  {{ service_basic("volume", "http") }}
  {{ service_address(8080) }}
  {{ service_tcp_check("volume", "http", 8080) }}
}
services {
  {{ service_basic("volume", "grpc") }}
  {{ service_address(18080) }}
  {{ service_tcp_check("volume", "grpc", 18080) }}
}
{% endif %}

{%- if seaweedfs_filer %}
services {
  {{ service_basic("filer", "http") }}
  {{ service_address(8888) }}
  {{ service_tcp_check("filer", "http", 8888) }}
}
services {
  {{ service_basic("filer", "grpc") }}
  {{ service_address(18888) }}
  {{ service_tcp_check("volume", "grpc", 18888) }}
}
{% endif %}
