# supervisor version: {{ supervisor_version }}
# config file checksum: {{ supervisor_config_template.checksum }}

[Unit]
Description=Supervisor process control system
Documentation=https://supervisord.org
After=network.target

[Service]
ExecStart={{ supervisor_daemon_bin }} -c {{ supervisor_config_path }}
ExecReload={{ supervisor_control_bin }} -c {{ supervisor_config_path }} reload
ExecStop={{ supervisor_control_bin }} -c {{ supervisor_config_path }} shutdown

RuntimeDirectory={{ supervisor_runtime_dir | relpath('/run') }}

[Install]
WantedBy=multi-user.target
