---
apiVersion: v1
kind: Service
metadata:
  name: gate-lite
spec:
  selector: {}
  type: NodePort
  ports:
    - name: minecraft
      protocol: TCP
      port: 25565
      nodePort: 32565
      targetPort: minecraft
