{{ ansible_managed | ansible.builtin.comment }}
[Unit]
Description=Vault: Identity-based security solution
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=notify
NotifyAccess=main

User={{ vault_server_config_user }}
Group={{ vault_server_config_group }}

ExecStart={{ vault_config_service_binary_file }} server -config={{ vault_server_config_file }}
ExecReload=/bin/kill -HUP $MAINPID
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK

KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
