# init file checksum: {{ nomad_agent_init_template.checksum }}
# config file checksum: {{ nomad_agent_config_template.checksum }}

check process {{ nomad_agent_monit_service_name }} with pidfile {{ nomad_agent_pid_path }}
  start program = "{{ nomad_agent_monit_init_path }} start"
  stop program = "{{ nomad_agent_monit_init_path }} stop"
  if not exist then restart
  depends on {{ nebula_monit_service_name }}
