---
# Name of the currently used inventory.
common_inventory_name: "{{ inventory_dir | ansible.builtin.basename }}"

# Local path for storing artifacts.
common_artifacts_local_dir: "{{ (playbook_dir, '../artifacts', common_inventory_name) | ansible.builtin.path_join }}"

# Header of managed templates.
common_managed_header: "Managed by Ansible | Template: {{ template_path if not template_path.startswith('/') else (template_path | basename) }} (last modified: {{ template_mtime.strftime('%Y-%m-%d %H:%M:%S') }})"
