---
# Path to the common role.
common_role_local_dir: "{{ (role_path, '../common') | ansible.builtin.path_join | ansible.builtin.realpath }}"

# Path to its tasks' directory.
common_task_local_dir: "{{ (common_role_local_dir, 'tasks') | ansible.builtin.path_join }}"

# Path to its vars' directory.
common_variable_local_dir: "{{ (common_role_local_dir, 'vars') | ansible.builtin.path_join }}"

# Path to its templates' directory.
common_template_local_dir: "{{ (common_role_local_dir, 'templates') | ansible.builtin.path_join }}"

# Local directory with Terraform projects.
common_terraform_local_dir: "{{ (role_path, '../../../terraform') | ansible.builtin.path_join }}"

# Path to managed.j2 template.
common_template_managed_local_path: "{{ (common_template_local_dir, 'managed.j2') | ansible.builtin.path_join }}"

# Internal FQDN of the current node.
common_internal_fqdn: "{{ inventory_hostname }}.internal"

# Name of the currently used inventory.
common_inventory_name: "{{ inventory_dir | ansible.builtin.basename }}"

# Header of managed templates.
common_managed_header: "Managed by Ansible | Template: {{ template_path if not template_path.startswith('/') else (template_path | basename) }} (last modified: {{ template_mtime.strftime('%Y-%m-%d %H:%M:%S') }})"

# List of unique system architectures among all hosts in the current play.
common_unique_architectures: "{{ ansible_play_hosts | map('ansible.builtin.extract', hostvars, 'ansible_architecture') | unique }}"
