---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-controller
  namespace: flux-system
spec:
  patches:
    - target:
        group: helm.toolkit.fluxcd.io
        kind: HelmRelease
        name: external-dns
      # language="yaml"
      patch: |-
        - op: add
          path: /spec/values/provider
          value:
            name: webhook
            webhook:
              image:
                repository: ghcr.io/michelangelomo/external-dns-desec-provider
                tag: latest
              env:
                - name: WEBHOOK_APITOKEN
                  valueFrom:
                    secretKeyRef:
                      name: webhook-secret
                      key: desec_token
                - name: WEBHOOK_DOMAINFILTERS
                  value: "kasefuchs.net,floof.fans"
              livenessProbe:
                httpGet:
                  path: /healthz
                  port: http-webhook
                initialDelaySeconds: 10
                timeoutSeconds: 5
              readinessProbe:
                httpGet:
                  path: /readyz
                  port: http-webhook
                initialDelaySeconds: 10
                timeoutSeconds: 5
