---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-controller
  namespace: flux-system
spec:
  patches:
    - target:
        group: helm.toolkit.fluxcd.io
        kind: HelmRelease
        name: external-dns
      # language="yaml"
      patch: |-
        - op: add
          path: /spec/values/provider
          value:
            name: cloudflare
        - op: add
          path: /spec/values/env
          value:
            - name: CF_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: external-dns-secret
                  key: cloudflare_api_token
        - op: add
          path: /spec/values/domainFilters
          value:
            - kasefuchs.net
            - floof.fans
