[Unit]
Description=Nebula: Overlay Networking tool
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=simple
User={{ nebula_user }}
Group={{ nebula_group }}
ExecStart={{ nebula_application_binary_path }} -config={{ nebula_config_path }}
Restart=always
KillMode=process
KillSignal=SIGTERM
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
