{{ common_managed_header | ansible.builtin.comment }}
[Unit]
Description=Pebble: Service manager
Documentation=https://documentation.ubuntu.com/pebble
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{ pebble_install_binary_file }} run --http={{ pebble_config_http_listen_address }}
Environment=PEBBLE={{ pebble_config_state_dir }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
