---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: seaweedfs-operator
spec:
  interval: 1h
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  chart:
    spec:
      chart: seaweedfs-operator
      version: 0.1.x
      interval: 2h
      sourceRef:
        kind: HelmRepository
        name: seaweedfs-operator
        namespace: flux-system
  values:
    webhook:
      enabled: false
