---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  interval: 1h
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.27.x
      interval: 2h
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: flux-system
  values: {}
