[Unit]
Description=Nomad: Flexible scheduler and workload orchestrator
Wants=network.target network-online.target nebula.service consul.service
After=network.target network-online.target nebula.service consul.service

[Service]
Type=simple
User={{ 'root' if nomad_client else nomad_user }}
Group={{ nomad_group }}
ExecStart={{ nomad_binary_path }} agent -config={{ nomad_config_dir }}
Restart=always
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
