# init file checksum: {{ consul_envoy_init_template.checksum }}
# config file checksum: {{ consul_envoy_config_template.checksum }}

check process {{ consul_envoy_monit_service_name }} with pidfile {{ consul_envoy_pid_path }}
  start program = "{{ consul_envoy_monit_init_path }} start"
  stop program = "{{ consul_envoy_monit_init_path }} stop"
  if not exist then restart
  depends on {{ nebula_monit_service_name }}
