vault {
  address = "https://127.0.0.1:8101"

  ca_cert     = "/etc/vault/certificates/ca.pem"
  client_key  = "/etc/vault/certificates/cli.key"
  client_cert = "/etc/vault/certificates/cli.pem"
}

listener "tcp" {
  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}:8100"

  tls_key_file  = "/etc/vault/certificates/proxy.key"
  tls_cert_file = "/etc/vault/certificates/proxy.pem"
}
