cluster_name = "{{ vault_cluster_name }}"

ui = true

api_addr     = "https://{{ nebula_ip | ansible.utils.ipaddr('address') }}:8200"
cluster_addr = "https://{{ nebula_ip | ansible.utils.ipaddr('address') }}:8201"

listener "tcp" {
  address         = "{{ nebula_ip | ansible.utils.ipaddr('address') }}:8200"
  cluster_address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}:8201"

  tls_key_file       = "/etc/vault.d/certificates/server.key"
  tls_cert_file      = "/etc/vault.d/certificates/server.pem"
  tls_client_ca_file = "/etc/vault.d/certificates/ca.pem"

  tls_require_and_verify_client_cert = true
}

disable_mlock = true

storage "raft" {
  path    = "{{ vault_data_dir }}"
  node_id = "{{ ansible_hostname }}"

{% for host, vars in hostvars.items() if vars.vault_server | default(true) %}
  retry_join {
    leader_api_addr       = "https://{{ vars.nebula_ip | ansible.utils.ipaddr('address') }}:8200"
    leader_tls_servername = "{{ host }}.server.vault"

    leader_ca_cert_file     = "/etc/vault.d/certificates/ca.pem"
    leader_client_key_file  = "/etc/vault.d/certificates/client.key"
    leader_client_cert_file = "/etc/vault.d/certificates/client.pem"
  }
{% endfor %}
}

service_registration "consul" {
  address = "https://{{ nebula_ip | ansible.utils.ipaddr('address') }}:8501"

  tls_ca_file   = "/etc/consul.d/certificates/ca.pem"
  tls_key_file  = "/etc/consul.d/certificates/cli.key"
  tls_cert_file = "/etc/consul.d/certificates/cli.pem"
}
