[Unit]
Description="HashiCorp Vault Proxy - A proxy service for Vault"
Documentation="https://vaultproject.io/"
Wants=network-online.target

[Service]
User=vault
Group=vault

Type=notify
ExecStart=/usr/local/bin/vault proxy -config /etc/vault.d/proxy.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure

CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
AmbientCapabilities=CAP_IPC_LOCK
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
