# monit version: {{ monit_version }}
# config file checksum: {{ monit_config_template.checksum }}

[Unit]
After=network.target

[Service]
ExecStart={{ monit_binary_path }} -c {{ monit_config_path }} -I
ExecStop={{ monit_binary_path }} -c {{ monit_config_path }} quit
ExecReload={{ monit_binary_path }} -c {{ monit_config_path }} reload

LogsDirectory={{ monit_log_dir | ansible.builtin.relpath('/var/log') }}
StateDirectory={{ monit_state_dir | ansible.builtin.relpath('/var/lib') }}
RuntimeDirectory={{ monit_runtime_dir | ansible.builtin.relpath('/run') }}

[Install]
WantedBy=multi-user.target
