---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: woodpecker
  namespace: flux-system
spec:
  patches:
    - target:
        group: helm.toolkit.fluxcd.io
        kind: HelmRelease
        name: woodpecker
      # language="yaml"
      patch: |-
        - op: replace
          path: /spec/values/server/env
          value:
            WOODPECKER_HOST: https://ci.kasefuchs.net
            WOODPECKER_OPEN: "false"
            WOODPECKER_ADMIN: kasefuchs
            WOODPECKER_FORGEJO: "true"
            WOODPECKER_FORGEJO_URL: https://codeberg.org
            WOODPECKER_DATABASE_DRIVER: postgres

        - op: replace
          path: /spec/values/server/ingress
          value:
            enabled: true
            ingressClassName: traefik
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt
              external-dns.alpha.kubernetes.io/target: traefik.kasefuchs.net
            hosts:
              - host: ci.kasefuchs.net
                paths:
                  - path: /
                    pathType: Prefix
            tls:
              - hosts: [ ci.kasefuchs.net ]
                secretName: server-tls
