{% macro server_check(service) -%}
check = {
  id = "nats-{{ service }}-check"
  name = "Health endpoint"
  http = "http://{{ nebula_ip | ansible.utils.ipaddr('address') }}:8222/healthz"
  interval = "30s"
  timeout = "5s"
}
{%- endmacro -%}

services {
  id   = "nats-http"
  name = "nats"
  tags = {{ nats_consul_http_tags | to_json }}

  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port    = 8222

  {{ server_check('http') }}
}

services {
  id   = "nats-cluster"
  name = "nats"
  tags = {{ nats_consul_cluster_tags | to_json }}

  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port    = 6222

  {{ server_check('cluster') }}
}

services {
  id   = "nats-client"
  name = "nats"
  tags = {{ nats_consul_client_tags | to_json }}

  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port    = 4222

  {{ server_check('client') }}
}
