[Unit]
Description="NATS - A data layer for cloud native applications."
Documentation="https://docs.nats.io/"
BindsTo=nebula.service

[Service]
User=nats
Group=nats

Type=simple
ExecStart=/usr/local/bin/nats-server -c /etc/nats/server.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID
KillMode=process
KillSignal=SIGUSR2
Restart=on-failure

[Install]
WantedBy=multi-user.target
