host: "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
port: 4222
http: 8222

server_name: "{{ ansible_hostname }}"

cluster {
  name: "{{ nats_cluster_name }}"
  host: "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port: 6222

  authorization {
    user: "{{ nats_cluster_authorization_user }}"
    password: "{{ nats_cluster_authorization_password }}"
  }

  routes: [
{% for host, vars in hostvars.items() if host != ansible_hostname and vars.nats_cluster_name | default(nats_cluster_name) == nats_cluster_name %}
    nats://{{ vars.nats_cluster_authorization_user | default(nats_cluster_authorization_user) }}:{{ vars.nats_cluster_authorization_password | default(nats_cluster_authorization_password) }}@{{ vars.nebula_ip | ansible.utils.ipaddr('address') }}:6222
{% endfor %}
  ]
}

jetstream {
  store_dir: "{{ nats_jetstream_store_dir }}"
}
