---
api:
  dashboard: {{ traefik_dashboard | lower }}
  disableDashboardAd: true

providers:
  file:
    filename: /etc/traefik.d/dynamic.yml

  nomad:
    exposedByDefault: {{ traefik_expose_by_default | lower }}
    endpoint:
      address: https://{{ nebula_ip | ansible.utils.ipaddr('address') }}:4646
      tls:
        ca: /etc/nomad.d/certificates/ca.pem
        key: /etc/nomad.d/certificates/cli.key
        cert: /etc/nomad.d/certificates/cli.pem

  consul:
    endpoints:
      - {{ nebula_ip | ansible.utils.ipaddr('address') }}:8501
    tls:
      ca: /etc/consul.d/certificates/ca.pem
      key: /etc/consul.d/certificates/cli.key
      cert: /etc/consul.d/certificates/cli.pem

  consulCatalog:
    exposedByDefault: {{ traefik_expose_by_default | lower }}
    endpoint:
      scheme: "https"
      address: {{ nebula_ip | ansible.utils.ipaddr('address') }}:8501
      tls:
        ca: /etc/consul.d/certificates/ca.pem
        key: /etc/consul.d/certificates/cli.key
        cert: /etc/consul.d/certificates/cli.pem

entryPoints:
{% for name, config in traefik_entrypoints.items() %}
{{ {name: config} | ansible.builtin.to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{%- endfor %}

{% if traefik_static_configuration not in ({}, None) %}
{{ traefik_static_configuration | ansible.builtin.to_nice_yaml(indent=2) -}}
{% endif %}
