---
api:
  dashboard: {{ traefik_dashboard | lower }}
  disableDashboardAd: true

providers:
  file:
    filename: '/etc/traefik.d/dynamic.yml'

  nomad:
    exposedByDefault: {{ traefik_expose_by_default | lower }}
    endpoint:
      address: '{{ "https" if nomad_tls_enabled else "http" }}://{{ nebula_ip | ansible.utils.ipaddr("address") }}:4646'
      {% if nomad_tls_enabled -%}
      tls:
        ca: '/etc/traefik.d/certificates/nomad/ca.pem'
        key: '/etc/traefik.d/certificates/nomad/cli.key'
        cert: '/etc/traefik.d/certificates/nomad/cli.pem'
      {% endif %}

  consul:
    endpoints:
      - '{{ nebula_ip | ansible.utils.ipaddr("address") }}:{{ 8501 if consul_tls_enabled else 8500 }}'
    {% if consul_tls_enabled -%}
    tls:
      ca: '/etc/traefik.d/certificates/consul/ca.pem'
      key: '/etc/traefik.d/certificates/consul/cli.key'
      cert: '/etc/traefik.d/certificates/consul/cli.pem'
    {% endif %}

  consulCatalog:
    exposedByDefault: {{ traefik_expose_by_default | lower }}
    endpoint:
      scheme: '{{ "https" if consul_tls_enabled else "http" }}'
      address: '{{ nebula_ip | ansible.utils.ipaddr("address") }}:{{ 8501 if consul_tls_enabled else 8500 }}'
      {% if consul_tls_enabled -%}
      tls:
        ca: '/etc/traefik.d/certificates/consul/ca.pem'
        key: '/etc/traefik.d/certificates/consul/cli.key'
        cert: '/etc/traefik.d/certificates/consul/cli.pem'
      {% endif %}

entryPoints:
{% for name, config in traefik_entrypoints.items() %}
{{ {name: config} | ansible.builtin.to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{%- endfor %}

{% if traefik_static_configuration not in ({}, None) %}
{{ traefik_static_configuration | ansible.builtin.to_nice_yaml(indent=2) -}}
{% endif %}
