[Unit]
Description="Traefik - The Cloud Native Application Proxy"
Documentation="https://doc.traefik.io/traefik/"
BindsTo=consul.service nomad.service
After=network-online.target

[Service]
User=traefik
Group=traefik

Type=notify
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/traefik --configFile /etc/traefik/static.yml
Restart=always

[Install]
WantedBy=multi-user.target
