{{ common_managed_header | ansible.builtin.comment }}
ui            = {{ vault_server_config_enable_ui | lower }}
disable_mlock = {{ vault_server_config_disable_mlock | lower }}

api_addr     = "{{ vault_server_config_advertise_api_address }}"
cluster_addr = "{{ vault_server_config_advertise_cluster_address }}"

listener "tcp" {
  address         = "{{ vault_server_config_api_listen_address }}"
  cluster_address = "{{ vault_server_config_cluster_listen_address }}"

  tls_key_file  = "{{ (vault_server_config_cert_entity_dir, 'server.key') | ansible.builtin.path_join }}"
  tls_cert_file = "{{ (vault_server_config_cert_entity_dir, 'server.crt') | ansible.builtin.path_join }}"
}

storage "raft" {
  path    = "{{ vault_server_config_state_dir }}"
  node_id = "{{ vault_server_config_node_name }}"

{% for api_address in vault_server_config_retry_join %}
  retry_join {
    leader_api_addr = "{{ api_address }}"

    leader_ca_cert_file     = "{{ (vault_server_config_cert_ca_dir, 'server.crt') | ansible.builtin.path_join }}"
    leader_client_key_file  = "{{ (vault_server_config_cert_entity_dir, 'server.key') | ansible.builtin.path_join }}"
    leader_client_cert_file = "{{ (vault_server_config_cert_entity_dir, 'server.crt') | ansible.builtin.path_join }}"
  }
{% endfor %}
}
