#!/bin/sh

wget --no-verbose --tries=1 --output-document=/dev/null "http://{{ nebula_ip | ansible.utils.ipaddr('address') }}:3903/health"

case $? in
  8)
    exit 1
    ;;
  *)
    exit $?
    ;;
esac
