{% macro check(service) -%}
  check = {
    id   = "garage-{{ service }}-check"
    name = "Garage {{ service }} check script"
    args = ["/bin/sh", "/etc/garage/check.sh"]

    interval = "30s"
    timeout  = "5s"
  }
{%- endmacro %}

services {
  id   = "garage-api"
  name = "garage"
  tags = {{ garage_consul_api_tags | to_json }}

  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port    = 3900

  {{ check('api') }}
}

services {
  id   = "garage-rpc"
  name = "garage"
  tags = {{ garage_consul_rpc_tags | to_json }}

  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port    = 3901

  {{ check('rpc') }}
}

services {
  id   = "garage-web"
  name = "garage"
  tags = {{ garage_consul_web_tags | to_json }}

  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port    = 3902

  {{ check('web') }}
}

services {
  id   = "garage-admin"
  name = "garage"
  tags = {{ garage_consul_admin_tags | to_json }}

  address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}"
  port    = 3903

  {{ check('admin') }}
}
