# vault version: {{ vault_server_version.stdout }}
# init file checksum: {{ vault_server_init_template.checksum }}
# config file checksum: {{ vault_server_config_template.checksum }}

check process vault-server with pidfile {{ vault_server_pid_path }}
  start program = "{{ vault_server_monit_init_path }} start"
  stop program = "{{ vault_server_monit_init_path }} stop"
  if not exist for 5 cycles then restart
