---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: cert-manager
  namespace: flux-system
spec:
  interval: 24h
  url: oci://ghcr.io/cert-manager/charts/cert-manager
  ref:
    semver: 1.x
