{{ common_managed_header | ansible.builtin.comment }}
[[ with pkiCert "pki-intermediate/issue/consul" "common_name={{ consul_config_cert_entity_cn }}" "alt_names={{ consul_config_cert_entity_dns_sans | join(',') }}" "ip_sans={{ consul_config_cert_entity_ip_sans | join(',') }}" "ttl={{ consul_config_cert_entity_duration }}" -]]
[[ .Data.Cert ]][[ .Data.Cert | writeToFile "{{ (consul_config_cert_entity_dir, 'agent.crt') | ansible.builtin.path_join }}" "{{ consul_install_user }}" "{{ consul_install_group }}" "0644" ]]
[[ .Data.Key ]][[ .Data.Key | writeToFile "{{ (consul_config_cert_entity_dir, 'agent.key') | ansible.builtin.path_join }}" "{{ consul_install_user }}" "{{ consul_install_group }}" "0600" ]]
[[- end ]]
