{{ common_managed_header | ansible.builtin.comment }}
data_dir = "{{ consul_config_state_dir }}"

node_name  = "{{ consul_config_node_name }}"
datacenter = "{{ consul_config_datacenter }}"

bind_addr      = "{{ consul_config_bind_address }}"
client_addr    = "{{ consul_config_client_address }}"
advertise_addr = "{{ consul_config_advertise_address }}"

server           = {{ consul_config_server | lower }}
retry_join       = {{ consul_config_retry_join | ansible.builtin.to_json }}
bootstrap_expect = {{ consul_config_bootstrap_expect | int * consul_config_server }}

{{
  {
    "acl": consul_config_acl,
    "tls": consul_config_tls,
    "ports": consul_config_ports,
    "ui_config": consul_config_ui,
    "addresses": consul_config_addresses,
    "telemetry": consul_config_telemetry
  }
  | to_hcl2
  | trim
}}
