# consul version: {{ consul_version }}
# init file checksum: {{ consul_init_template.checksum }}
# config file checksum: {{ consul_config_template.checksum }}

check process consul with pidfile {{ consul_pid_path }}
  start program = "{{ consul_monit_init_path }} start"
  stop program = "{{ consul_monit_init_path }} stop"
  if not exist for 5 cycles then restart
