datacenter = "{{ consul_datacenter }}"
data_dir   = "{{ consul_data_dir }}"

{% raw -%}
bind_addr   = "{{ GetInterfaceIP \"tailscale0\" }}"
client_addr = "127.0.0.1"
{% endraw %}

retry_join = [
{% for ip in hostvars | community.general.json_query('* | [?consul_server].ansible_all_ipv4_addresses[] | [?starts_with(@, `100.`)]') %}
  "{{ ip }}",
{% endfor %}
]

{% if consul_encrypt -%}
encrypt = "{{ consul_encrypt }}"
{% endif %}

ui_config {
  enabled = {{ consul_ui_enabled | lower }}
}
