data_dir = "{{ consul_data_dir }}"

datacenter = "{{ consul_datacenter }}"

bind_addr   = "{{ tailscale_ip.stdout }}"
client_addr = "{{ tailscale_ip.stdout }}"

addresses {
  dns = "127.0.0.1"
}

retry_join = {{ hostvars | community.general.json_query('* | [?consul_server].tailscale_ip.stdout') | ansible.builtin.to_json }}

encrypt = "{{ consul_encrypt | default('') }}"

ui_config {
  enabled = {{ consul_ui_enabled | lower }}
}
