[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation="https://www.consul.io/"
BindsTo=nebula.service

[Service]
User=consul
Group=consul

Type=notify
ExecStart=/usr/local/bin/consul agent -data-dir="{{ consul_data_dir }}" -config-dir="/etc/consul"
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
