; consul version: {{ consul_version }}
; config file checksum: {{ consul_config_template.checksum }}

[program:consul]
command={{ consul_binary_path }} agent -config-file={{ consul_config_path }}
process_name=%(program_name)s

priority=20
autostart=true

user={{ consul_user }}
directory={{ consul_config_dir }}

stopsignal=TERM
stopwaitsecs=10
