[Unit]
Requires=network-online.target tailscaled.service {% if not 'container' in ansible_virtualization_tech_guest %}sys-subsystem-net-devices-tailscale0.device{% endif %}
After=network-online.target tailscaled.service {% if not 'container' in ansible_virtualization_tech_guest %}sys-subsystem-net-devices-tailscale0.device{% endif %}
BindsTo=network-online.target tailscaled.service {% if not 'container' in ansible_virtualization_tech_guest %}sys-subsystem-net-devices-tailscale0.device{% endif %}
