[Unit]
Description="etcd gateway"
Documentation="https://etcd.io/"
BindsTo=nebula.service

[Service]
User=etcd
Group=etcd

Type=simple
ExecStart=/usr/local/bin/etcd gateway start --listen-addr ${LISTEN_ADDR} --endpoints ${ENDPOINTS}
ExecStop=/bin/kill -s SIGINT $MAINPID
Restart=on-failure

EnvironmentFile=/etc/etcd/gateway.env

[Install]
WantedBy=multi-user.target
