---
name: "{{ ansible_hostname }}"

data-dir: "{{ etcd_data_dir }}"

advertise-client-urls: http://{{ nebula_ip | ansible.utils.ipaddr('address') }}:2379
listen-client-urls: http://{{ nebula_ip | ansible.utils.ipaddr('address') }}:2379

initial-advertise-peer-urls: http://{{ nebula_ip | ansible.utils.ipaddr('address') }}:2380
listen-peer-urls: http://{{ nebula_ip | ansible.utils.ipaddr('address') }}:2380

initial-cluster: "{% for vars in hostvars.values() if vars.etcd_server %}{{ vars.ansible_hostname }}=http://{{ vars.nebula_ip | ansible.utils.ipaddr('address') }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
initial-cluster-state: "{{ etcd_cluster_state }}"
initial-cluster-token: "{{ etcd_cluster_token }}"
