---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/infrastructure/controllers/cert-manager/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
