---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - resources/deployment.yaml
  - resources/service.yaml
configMapGenerator:
  - name: gate-lite-config
    files:
      - config/config.yml
