[Unit]
Description="Nebula - A scalable overlay networking tool"
Documentation="https://github.com/slackhq/nebula/"
After=network-pre.target

[Service]
User=nebula
Group=nebula
AmbientCapabilities=CAP_NET_ADMIN
ExecStart=/usr/local/bin/nebula -config=/etc/nebula.d/nebula.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
