---
pki:
  ca: {{ (nebula_pki_dir, 'ca.crt') | ansible.builtin.path_join }}
  key: {{ (nebula_pki_dir, 'host.key') | ansible.builtin.path_join }}
  cert: {{ (nebula_pki_dir, 'host.crt') | ansible.builtin.path_join }}

listen:
  host: {{ nebula_listen_host }}
  port: {{ nebula_listen_port }}

lighthouse:
  am_lighthouse: {{ nebula_lighthouse_enable | lower }}
  {{ { "hosts": [] if nebula_lighthouse_enable else nebula_lighthouse_hosts } | ansible.builtin.to_yaml }}

{{ { "static_host_map": nebula_static_host_map } | ansible.builtin.to_yaml(indent=2) }}

{{ { "tun": nebula_tun } | ansible.builtin.to_nice_yaml(indent=2) }}
{{ { "firewall": nebula_firewall } | ansible.builtin.to_nice_yaml(indent=2) }}
