; nebula version: {{ nebula_version }}
; config file checksum: {{ nebula_config_template.checksum }}

[program:nebula]
command={{ nebula_binary_path }} -config={{ nebula_config_path }}
process_name=%(program_name)s

priority=10
autostart=true

user={{ nebula_user }}
directory={{ nebula_config_dir }}

stopsignal=TERM
stopwaitsecs=10
