{{ common_managed_header | ansible.builtin.comment }}
[Unit]
Description=Nebula: Overlay Networking tool
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=5s
KillMode=process
KillSignal=SIGTERM
AmbientCapabilities=CAP_NET_ADMIN
ExecStart={{ nebula_install_binary }} -config={{ nebula_config_file }}

[Install]
WantedBy=multi-user.target
