---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gate-lite
spec:
  interval: 1h
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      main:
        enabled: true
        type: deployment
        replicas: 1
        containers:
          main:
            image:
              repository: ghcr.io/minekube/gate
              tag: latest
              pullPolicy: IfNotPresent
            ports:
              - name: minecraft
                containerPort: 25565
                protocol: TCP
    configMaps:
      config:
        enabled: true
        data:
          # language="yaml"
          config.yml: |
            ---
            x-offline-fallback: &offline-fallback
              motd: |
                §cСервер недоступен.
                §7Попробуйте позже!

            config:
              bind: 0.0.0.0:25565
              lite:
                enabled: true
                routes:
                  - host: play.lvmc.icu
                    backend: 130.61.115.93:25565
                    fallback: *offline-fallback
                  - host: mc.floof.fans
                    backend: 130.61.115.93:30000
                    fallback: *offline-fallback
    persistence:
      config:
        enabled: true
        type: configMap
        identifier: config
        advancedMounts:
          main:
            main:
              - path: /config.yml
                subPath: config.yml
                readOnly: true
    service:
      main:
        enabled: true
        controller: main
        primary: true
        type: NodePort
        ports:
          minecraft:
            enabled: true
            primary: true
            protocol: TCP
            port: 25565
            nodePort: 32565
            targetPort: minecraft
