---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: woodpecker
spec:
  interval: 1h
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  chartRef:
    kind: OCIRepository
    name: woodpecker
    namespace: flux-system
  values:
    agent:
      enabled: true
      env:
        WOODPECKER_BACKEND_K8S_VOLUME_SIZE: 2Gi
        WOODPECKER_BACKEND_K8S_STORAGE_CLASS: longhorn-local
      persistence:
        size: 128Mi
        storageClass: longhorn-local
    server:
      enabled: true
      env:
        WOODPECKER_HOST: https://ci.kasefuchs.net
        WOODPECKER_OPEN: "false"
        WOODPECKER_ADMIN: kasefuchs
        WOODPECKER_FORGEJO: "true"
        WOODPECKER_FORGEJO_URL: https://codeberg.org
        WOODPECKER_DATABASE_DRIVER: postgres
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        hosts:
          - host: &host ci.kasefuchs.net
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts: [*host]
            secretName: woodpecker-server-tls
      persistentVolume:
        enabled: false
      extraSecretNamesForEnvFrom:
        - woodpecker-server-secret
  valuesFrom:
    - kind: Secret
      name: woodpecker-server-db-app
      valuesKey: uri
      targetPath: server.env.WOODPECKER_DATABASE_DATASOURCE
