{{ common_managed_header | ansible.builtin.comment }}
[[ with pkiCert "pki-intermediate/issue/nomad" "common_name={{ nomad_config_cert_entity_cn }}" "alt_names={{ nomad_config_cert_entity_dns_sans | join(',') }}" "ip_sans={{ nomad_config_cert_entity_ip_sans | join(',') }}" "ttl={{ nomad_config_cert_entity_duration }}" -]]
[[ .Data.Cert ]][[ .Data.Cert | writeToFile "{{ (nomad_config_cert_entity_dir, 'agent.crt') | ansible.builtin.path_join }}" "{{ nomad_config_user }}" "{{ nomad_install_group }}" "0644" ]]
[[ .Data.Key ]][[ .Data.Key | writeToFile "{{ (nomad_config_cert_entity_dir, 'agent.key') | ansible.builtin.path_join }}" "{{ nomad_config_user }}" "{{ nomad_install_group }}" "0600" ]]
[[- end ]]
