client {
  enabled = true

  alloc_mounts_dir = "{{ nomad_mounts_dir }}"

  server_join {
    retry_join = {{ hostvars | community.general.json_query('* | [?nomad_server].nebula_ip') | ansible.utils.ipaddr('address') | ansible.builtin.to_json }}
  }

{% for name, config in nomad_host_networks.items() %}
  host_network "{{ name }}" {
    cidr           = "{{ config.cidr | default('') }}"
    interface      = "{{ config.interface | default('') }}"
    reserved_ports = "{{ config.reserved_ports | default([]) | join(',') }}"
  }
{% endfor %}

{% for name, config in nomad_host_volumes.items() %}
  host_volume "{{ name }}" {
    path      = "{{ config.path }}"
    read_only = {{ config.read_only | default(False) | lower }}
  }
{% endfor %}

  meta {
{% for key, value in lookup('ansible.utils.to_paths', nomad_meta).items() %}
    "{{ key }}" = "{{ value | regex_replace('"', '\\"') }}"
{% endfor %}
{% if nomad_meta_geoip_enabled %}
{% for key, value in lookup('ansible.utils.to_paths', nomad_geoip_data.json).items() if key in nomad_meta_geoip_filter %}
    "geoip.{{ key }}" = "{{ value | regex_replace('"', '\\"') }}"
{% endfor %}
{% endif %}
  }
}

consul {
  grpc_address = "{{ nebula_ip | ansible.utils.ipaddr('address') }}:{{ 8503 if consul_tls_enabled else 8502 }}"
{% if consul_tls_enabled %}
  grpc_ca_file = "/etc/nomad.d/certificates/consul/ca.pem"
{% endif %}
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}
