client {
  enabled = true
  servers = [
{% for ip in hostvars | community.general.json_query('* | [?nomad_server].tailscale_ip.stdout') %}
    "{{ ip }}",
{% endfor %}
  ]
  host_network "tailscale" {
    interface = "tailscale0"
  }
  meta {
{% if collect_geoip_enabled and nomad_meta_geoip_enabled %}
{% for key, value in lookup('ansible.utils.to_paths', geoip_data.json).items() if key in nomad_meta_geoip_filter %}
    "geoip.{{ key }}" = "{{ value | regex_replace('"', '\\"') }}"
{% endfor %}
{% endif %}
  }
{% for name, config in nomad_host_volumes.items() %}
  host_volume "{{ name }}" {
    path      = "{{ config.path }}"
    read_only = {{ config.read_only | default(False) | lower }}
  }
{% endfor %}
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}
