[Unit]
Description="HashiCorp Nomad - A simple and flexible scheduler and orchestrator"
Documentation="https://nomadproject.io/"
BindsTo=consul.service

[Service]
User={{ nomad_user }}
Group={{ nomad_group }}

Type=notify
ExecStart=/usr/local/bin/nomad agent -data-dir="{{ nomad_data_dir }}" -config="/etc/nomad"
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
