datacenter = "{{ nomad_datacenter }}"
data_dir   = "{{ nomad_data_dir }}"
region     = "{{ nomad_region }}"

bind_addr = "{{ tailscale_ip.stdout }}"

advertise {
  http = "{{ tailscale_ip.stdout }}"
}

addresses {
  http = "127.0.0.1 {{ tailscale_ip.stdout }}"
}

consul {
  address = "127.0.0.1:8500"
}

ui {
  enabled = {{ nomad_ui_enabled | lower }}
{% if nomad_consul_ui_url %}
  consul {
    ui_url = "{{ nomad_consul_ui_url }}"
  }
{% endif %}
}
