datacenter = "{{ nomad_datacenter }}"
data_dir   = "{{ nomad_data_dir }}"
region     = "{{ nomad_region }}"

{% raw -%}
bind_addr = "{{ GetInterfaceIP \"tailscale0\" }}"

advertise {
  http = "{{ GetInterfaceIP \"tailscale0\" }}"
}

addresses {
  http = "127.0.0.1 {{ GetInterfaceIP \"tailscale0\" }}"
}
{% endraw %}

consul {
  address = "127.0.0.1:8500"
}

ui {
  enabled = {{ nomad_ui_enabled | lower }}
{% if nomad_consul_ui_url %}
  consul {
    ui_url = "{{ nomad_consul_ui_url }}"
  }
{% endif %}
}
