server {
  enabled          = true
  bootstrap_expect = {{ hostvars | community.general.json_query('*.nomad_server') | select | length }}

  server_join {
    retry_join = {{ hostvars | community.general.json_query('* | [?nomad_server].tailscale_ip.stdout') | ansible.builtin.to_json }}
  }

  encrypt = "{{ nomad_encrypt | default('') }}"
}
