{{ common_managed_header | ansible.builtin.comment }}
[[ with secret "kv-cluster/nomad" -]]
server {
  encrypt = "[[ .Data.data.encrypt ]]"
}

consul {
  token = "[[ .Data.data.{{ nomad_config_consul_token_type }}_consul_token ]]"
}
[[- end ]]
