---
- name: Enable K3s server service (systemd)
  when: ansible_facts.service_mgr == "systemd"
  listen: Enable K3s server service
  ansible.builtin.systemd_service:
    name: k3s
    enabled: true

- name: Restart K3s server service (systemd)
  when: ansible_facts.service_mgr == "systemd"
  listen: Restart K3s server service
  ansible.builtin.systemd_service:
    name: k3s
    state: restarted

- name: Enable K3s agent service (systemd)
  when: ansible_facts.service_mgr == "systemd"
  listen: Enable K3s agent service
  ansible.builtin.systemd_service:
    name: k3s-agent
    enabled: true

- name: Restart K3s agent service (systemd)
  when: ansible_facts.service_mgr == "systemd"
  listen: Restart K3s agent service
  ansible.builtin.systemd_service:
    name: k3s-agent
    state: restarted
