---
name: docs

on:
  push:
    branches: [ main ]
    paths:
      - docs/**
      - requirements.txt
      - .github/workflows/docs.yaml

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Python interpreter
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: 3.14

      - name: Install Python modules
        run: pip install -r requirements.txt

      - name: Build documentation
        working-directory: docs
        run: zensical build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/build

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
