---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/infrastructure/overlays/production
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: namespaces
    - name: repositories
  patches:
    - target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
      # language="yaml"
      patch: |-
        - op: replace
          path: /spec/decryption
          value:
            provider: sops
            secretRef:
              name: sops-keys
