---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: namespaces
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/clusters/production/namespaces
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
